/* body, html {
    height: 100%;
  } */
  body{
  
    width: 100%;
     text-align: center;
     
     background-image: linear-gradient(to top right, pink,skyblue, pink);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  
    }
    h2{
      font-size: 3rem;
      font-family:'Times New Roman', Times, serif;
    }
  .star {
      font-size: 80px;
      color: gray;
      cursor: pointer;
    }
    .star.active{
      color: gold;
    }
    .pagebtn .active{
      color: black ;
      background-color: pink;
    }

    /* .pagebtn button {
      background-color: pink;
    } */
    #commentbox {
      
      margin-top:20px;
    }
    #name{
      font-size: 1.3rem;
      border-radius: 10px;
      width: 50%;
      height: 3rem;
    }
    #comment {
      margin-top: 20px;
      font-size: 1.3rem;
      border-radius: 10px;
      width: 50%;
      height: 100px;
    }
    
    #submitbtn {
      width: 9rem;
      height: 3rem;
      font-size: 25px;
      margin-top: 20px;
      border-radius: 1rem;
    }
    
    
    #Comment-table table {
      margin-left: 13%;
      margin-top: 20px;
      width: 75%;
      border: 1px solid rgb(0, 0, 0);
      /* border-collapse: collapse; */
    }
    #Comment-table th,
    #Comment-table td {
      padding: 5px;
      font-size: 1.5rem;
      border: 1px solid rgb(0, 0, 0);
    }
  
    th,tr:nth-child(even) {
      background-color: pink;
    }
    #pagination{
      margin-right: 10%;
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      
    }
    /* #pagination a{
      text-decoration: none;
      color: blue;
      font-size: 1.3rem;
    } */
    #searchInput{
      border-radius: 10px;
      width: 50%;
      font-size: 1.3rem;
      height: 2.5rem;
    }

    #prevbtn{
      margin-right: 1%;
    }
    #nextbtn{
      margin-left: 1%;
    }
  
    /* .pagination-links{
      padding: 10px;
     
      /* background-color: grey; 
    } */