<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Assessment\Api\Api\TrackingProductRepositoryInterface"
    type="Assessment\Api\Model\Api\TrackingProductRepository" />
  <preference for="Assessment\Api\Api\ProductDataInterface"
    type="Assessment\Api\Model\Api\ProductData" />
</config>